
.about-mainpage{
  font-size: 1.6rem;
  background-color: rgba(255,255,255,0.58);
  border-radius: 50px;
  width: 92%;
  box-sizing: border-box;
  padding: 30px 80px ;
  margin:0 auto ;
}

.about-sky {
  color: #233192;
  width: 100%;
  background: linear-gradient( 
    #15c1f6 0%,
    #b5e5f4 80%, 
    #fff 100%);
    padding-bottom: 80px;
}

/*======================
  スマホ用
======================*/
@media  (max-width: 500px){
.about-mainpage{
    font-size: 1rem;
    padding: 15px 30px;
  }
}
  
/*======================
タブレット用
======================*/
@media (min-width: 500px) and (max-width: 1070px){
  .about-mainpage{
    font-size: 1.4rem;
    padding: 20px 50px;
  }
}