
.about-mainpage{
    width: 92%;
    padding-bottom: 80px;
    margin:0 auto;
}

.about-sky {
  color: #233192;
  width: 100%;
  background: linear-gradient( 
    #15c1f6 0%,
    #b5e5f4 80%, 
    #fff 100%);
}
.back-card{
    font-size: 1.6rem;
    margin: 2rem auto 80px;
    display:block;
    background-color: rgba(255,255,255,0.58);
    border-radius: 50px;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    padding: 25px;
}

/*======================
  スマホ用
======================*/
@media  (max-width: 500px){
.back-card{
    font-size: 1rem;
    margin: 0px auto 3rem;
    border-radius: 50px;
    padding: 25px;
  }
}
  
/*======================
タブレット用
======================*/
@media (min-width: 500px) and (max-width: 1070px){
  .back-card{
    font-size: 1.4rem;
    margin: 0px auto 80px;
    border-radius: 50px;
    padding: 25px;
  }
}