body{
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin:0;
  }
  .main{
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .cloud2{
    position: relative;
    width:65%;
    left:60%;
    bottom:6vw;
  }
  .cloud1{
    position: relative;
    width:55%;
    left:10%;
    bottom:90vw;
    opacity: 0.8;
  }
  .cloud1 img, .cloud2 img{
    width:100%;
    position: relative;
    bottom:4vw;
  }
  .top{
    background-image:url("../imgs/circlecloud1.png"),url("../imgs/circlecloud2.png"),url("../imgs/circlecloud3.png");
    background-size: 435px,408px,119px;
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-position: 90% 8vh,290px bottom,4% bottom;
    height: 427px;
  }
   .title{
    position: absolute;
    top:200px;
  } 
  h1{
    font-size: 32px;
    padding: 10px 40px;
    background-color: rgba(255,255,255,0.75);
     border-radius: 0px 50px 50px 0px; 
    /* border-radius: 50px; */
    /* border:solid 1.2px rgba(30, 187, 255, 0.8); */
    display: inline-block ;
    /*margin-bottom: 150px;*/
    position: relative;
    top:0vh;
  }
  .circlecloud1 img{
    width: 100%;
  }
  .circlecloud1{
    width: 450px;
    position: relative;
    top:60vw;
    left:50px;
  }
  .circlecloud2{
    width: 350px;
    position:relative;
    left:37%;
    bottom:60vw;
  }
  .circlecloud3{
    width: 180px;
    position:relative;
    bottom:70vw;
    left:10vw;
    rotate:30deg;
  }
 

  
  /*======================
  大きな枠組みの部分
  ======================*/
  
  .sky{
      color: #233192;
      width:100%;
      background: linear-gradient( #15c1f6 0%,#b5e5f4 40%, #fff 100%)

  }
  
  .mainpage{
    width: 92%;
    padding-bottom: 80px;
    margin:0 auto;
  }
  .ocean{
      width:100%;
      background-image: url("../imgs/inthesea/surface1.png"), linear-gradient( #fff 0%, #01579E 15%, #2E3192 100%);
      background-repeat: no-repeat, no-repeat;
      background-size: 100%,contain;
      color:#fff;
  }
  .mainpage2{
    width: 92%;
    margin:0 auto;
    padding-top: 280px;
    }
  .machikani{
    margin: 0px -22px -71px;
    display: inline-block;
    width: 130px;
  }
  .machikani img{
    width: 100%;
  }
  .machikani1{
    /*margin: 0px -22px -71px;*/
    width: 150px;
    rotate: -6deg;
    position: relative;
    bottom:2px;
    right: 0px;
  }
  .machikani1 img{
    width: 100%;
  }
  
  .bottom{
    bottom:0px;
    width:100%;
    height:300px;
  }
  
  footer{
    background-color:#2E3192;
  }
  /*======================
  一個小さい枠組の設定
  ======================*/

  /*======================
  sky2 お知らせ欄(news)、来場者の方へ(notes)内部
  竹内くん的に背景が透明が良いそうだったので、半透明にしてます
  位置は要調節
  文章どうしたらいいかわからんからとりあえず準備中にしてます
  ======================*/
  
  .news,.notes{
    font-size: 22px;
    margin: 20px auto 80px;
    display:block;
    background-color: rgba(255,255,255,0.38);
    border-radius: 50px;
    text-align: center;
    box-sizing: border-box;
    width: 82%;
  }

 
  /*空の小見出しのスタイル*/
  .sky span{
    max-width: 90%;
    display: inline-block;
    font-size: 37px;
    padding-top: 8px;
  }
  .contents{
    font-size: 20px;
    padding: 20px 10px 30px;
    text-align: center;/*タイトル中央ぞろえにするならいらん*/
    width:80%;
    max-width: 1200px;
    margin: 0 auto;
  }
  /*海の中の小見出しのスタイル*/

  /* .item1{
    display: inline-block;
    font-size: 93px;
    opacity: 0.30;
    position: relative;
    top:9px;
    left:14px;
  }
  .item2{
    display: inline-block;
    font-size: 28px;
    opacity: 0.30;
    position: relative;
    top:9px;
    right:26px
  }
  .item3{
    display: inline-block;
    font-size: 15px;
    opacity: 0.30;
    position: relative;
    top:9px;
    right:26px;
  } */
  
  /*pickupの文字の色を変化させる*/
  .ocean a{
    color: #fff;
  }
  /*======================
  かめのアニメション
  ======================*/
  .machikame{
    width: 170;
    position: relative;
    bottom: -44vh;
    left:80%;
  }
  .machikame img{
    width: 100%;
    animation:flying 10s ease-in-out infinite;
  }
  @keyframes flying {
    0% {
      transform: translate(0,0);
    }
    25% {
      transform: translate(30px,15px);
    }
    50% {
      transform: translate(0,0);
    }
    75% {
      transform: translate(-30px,15px);
    }
    100% {
      transform: translate(0,0);
    }
  }
  
  /* .machikame2{
    width: 78px;
    position: relative;
    bottom: -300px;
    left:26px;
  }
  .machikame2 img{
    width: 100%;
    animation: swimming 10s ease-in-out infinite;
  } */
  @keyframes swimming {
    0% {
      transform: translate(0,0);
    }
    25% {
      transform: translate(30px,15px);
    }
    50% {
      transform: translate(0,0);
    }
    75% {
      transform: translate(-30px,15px);
    }
    100% {
      transform: translate(0,0);
    }
  }
  
  /*======================
  海底の生成される泡の表示のためのもの
  ======================*/
  /* .ocean img{
    display: block;
    width: 100%;
  } */
  
  .bubble {
      position: absolute;
      bottom: 0;
      background-color: #fff;
      opacity: 60%;
      border: 1px solid #fff;
      border-radius: 50%;
      animation: bubble 10s ease-in infinite;
    }
  
  .bubble:nth-child(1) {
      width: 5px;
      height: 5px;
      left: -10%;
      animation-duration: 10s;
    }
    
    .bubble:nth-child(2) {
      width: 7px;
      height: 7px;
      left: 0%;
      animation-duration: 14s;
    }
    
    .bubble:nth-child(3) {
      width: 10px;
      height: 10px;
      left: 10%;
      animation-duration: 11s;
      animation-delay:-3s;
    }
    
    .bubble:nth-child(4) {
      width: 15px;
      height: 15px;
      left: 25%;
      animation-duration: 8s;
      animation-delay: -1s;
    }
    
    .bubble:nth-child(5) {
      width: 8px;
      height: 8px;
      left: 40%;
      animation-duration: 13s;
    }
    
    .bubble:nth-child(6) {
      width: 12px;
      height: 12px;
      left: 50%;
      animation-duration: 14s;
    }
    
    .bubble:nth-child(7) {
      width: 17px;
      height: 17px;
      left: 60%;
      animation-duration: 9s;
    }
    .bubble:nth-child(8) {
      width: 10px;
      height: 10px;
      left: 70%;
      animation-duration: 12s;
    }
    .bubble:nth-child(7) {
      width: 13px;
      height: 13px;
      left: 80%;
      animation-duration:10s;
    }
    .bubble:nth-child(8) {
      width: 15px;
      height: 15px;
      left: 90%;
      animation-duration:8.5s;
    }
    .bubble:nth-child(9) {
      width: 9px;
      height: 9px;
      left: 100%;
      animation-duration:9.5s;
    }
    .bubble:nth-child(10) {
      width: 11.5px;
      height: 11.5px;
      left: 80%;
      animation-duration:11s;
    }
    @keyframes bubble {
      0% {
        bottom: 0px;
        transform: translateX(0);
      }
      50% {
        transform: translateX(100px);
      }
      100% {
        bottom: 2300px;
      }
    }
    @keyframes bubble {
      0% {
        bottom: 0px;
        transform: translateX(0);
      }
      50% {
        transform: translateX(100px);
      }
      75% {
        transform: translateX(50px);
      }
      100% {
        bottom: 2300px;
      }
    }
    .contents{
      transition: 0.8s ease-in-out;
      transform: translateY(15px);
      opacity: 1.0;
    }
    .contents.on {
      transform: translateY(0);
      opacity: 0;
    }
    /* 駐輪場画像 */
    .guide{
        width: 170;
        position: relative;
        bottom: -44vh;
        left:80%;
    }

  /*======================
    スマホ用
  ======================*/

    @media (max-width:767px){
        h1{
            font-size: 26px;
            /*margin-bottom: 100px;*/
        }
        .title{
          position: relative;
          top:0px;
        } 
        .top{
          background-image:url("../imgs/circlecloud1.png"),url("../imgs/circlecloud2.png"),url("../imgs/circlecloud3.png");
          background-size: 35%,calc(258px + 7vw),15%;
          background-repeat: no-repeat,no-repeat,no-repeat;
          background-position: 100% 4vh,calc(92px + 15vw) bottom,4% bottom;
          height: calc(340px + 2vw);
        }
      .news, .notes{
        box-sizing: contents-box;
        width: 80%;
        font-size: 16px;
      }
      .ocean{
        display: block;
      }
      /*-------------------
      イラストの位置調整
      ------------------------*/
      .machikame{
        width:20%;
        left:9%;
        bottom:-50vh;
      }
      
      @keyframes cloud1{
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-90vh);
        }
      }
      @keyframes cloud2{
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(92vh);
        }
    }}
    @media screen and (max-width: 490px) {
      .title{
        position: absolute;
        top:80px;
      } 
      h1{
        font-size: 24px;
        /*margin-bottom: 100px;*/
    }
    .top{
      background-image:url("../imgs/circlecloud1.png"),url("../imgs/circlecloud2.png"),url("../imgs/circlecloud3.png");
      background-size: 0%,calc(200px + 8vw),80px;
      background-repeat: no-repeat,no-repeat,no-repeat;
      background-position: 100% 4vh,right bottom,4% 220px;
      height: 300px;
    }   
    .machikame {
      width: 70px;
      position: relative;
      bottom: -44vh;
      left: 70%;
  }
    }

  
  /*======================
    タブレット用
  ======================*/
  @media (min-width:1090px) and (max-width: 1280px){
    h1{
        font-size: 30px;
    }
    .title{
      position: relative;
      top:0px;
    } 
    .news, .notes{
      box-sizing: contents-box;
      width: 80%;
      font-size: 19px;
    }
   
    .ocean{
      display: block;
    }
    .top{
      background-image:url("../imgs/circlecloud1.png"),url("../imgs/circlecloud2.png"),url("../imgs/circlecloud3.png");
      background-size: 370px,370px,111px;
      background-repeat: no-repeat,no-repeat,no-repeat;
      background-position: 96% 8vh,289px bottom,4% bottom;
      height: 396px;
    }
  }
  @media (min-width:768px) and (max-width: 1090px){
    h1{
        font-size: 30px;
    }
    .title{
      position: relative;
      top:0px;
    } 
    .news, .notes{
      box-sizing: contents-box;
      width: 80%;
      font-size: 19px;
    }
   
    .ocean{
      display: block;
    }
    .top{
      background-image:url("../imgs/circlecloud1.png"),url("../imgs/circlecloud2.png"),url("../imgs/circlecloud3.png");
      background-size: 35%,calc(50px + 35vw),15%;
      background-repeat: no-repeat,no-repeat,no-repeat;
      background-position: 100% 4vh,40% bottom,4% bottom;
      height: 400px;
    }
  }
