.greeting-sky{
    width:100%;
    background: linear-gradient( #15c1f6 0%,#b5e5f4 40%, #fff 100%)
}
.greeting-ocean{
    width:100%;
    background-image: url("../imgs/inthesea/surface1.png"), linear-gradient( #fff 0%, #01579E 15%, #2E3192 100%);
    background-repeat: no-repeat, no-repeat;
    background-size: 100%,contain;
    color:#fff;
}
.greeting-titles{
    padding-left: 32px;
    font-size: 30px;
    background-color: rgba(255,255,255,0.85);
    width: 13rem;
    border-radius: 0 50px 50px 0px;
    margin-bottom: 15px;
    color: black;
}
.greeting-contents{ /*委員長挨拶の位置調整*/
    padding-top: 15rem;
}
.president img, .chairperson img{
    padding-left: 32px;
    width: 20%;
    height: 20%;
}
.greeting-card{
    display: inline-flex;
    padding-bottom: 30px;
}
.sentences{
    padding: 0 20px;
}
.sentences p{
    margin: 0px;
}
.name{
    text-align: right;
}

/*======================
  スマホ用
======================*/
@media  (max-width: 500px){
    .greeting-card{
        display: block;
    }
    .president img, .chairperson img{
        width: 40%;
        padding-left: 30%;
    }
    .greeting-titles{
        font-size: 1.2rem;
        width: 8rem;
    }
    .greeting-contents{ /*委員長挨拶の位置調整*/
        padding-top: 8rem;
    }
    .sentences{
        padding: 0 20px;
        font-size: 0.9rem;
    }
}
      
/*======================
　タブレット用
======================*/
@media (min-width: 500px) and (max-width: 1070px){
    .greeting-card{
        display: block;
    } 
    .president img, .chairperson img{
        width: 40%;
        padding-left: 30%;
    }
    .sentences{
        padding: 0 20px;
        font-size: 1rem;
    }
}