.detail-eventPlace-parent{
    text-align: center;
}
.detail-eventPlace{
    width: min(80%,auto);
    height: 500px;
}

/*======================
  スマホ用
======================*/
@media  (max-width: 500px){
    .detail-eventPlace{
        width: min(80%,auto);
        height: 200px;
    }
}
/*======================
  タブレット用
======================*/
@media (min-width: 500px) and (max-width: 1070px){
    .detail-eventPlace{
        width: min(80%,auto);
        height: 400px;
    }
}