
.FAQ-sky {color: #233192;
width: 100%;
background: linear-gradient( 
  #9fe7fd 0%,
  #b5e5f4 80%, 
  #fff 100%);
  padding-bottom: 80px;
}
.FAQ-card-Q{
    font-size: 25px;
    margin: 3%;
    
        padding: 20px;
        font-weight: bold;
        color: #6091d3;
        background: #FFF;
        border: solid 3px #6091d3;
        border-radius: 10px;
        box-sizing: border-box;
        width: 90%;
}
.FAQ-card{
    padding: 20px 50px 20px 5px;
}
.FAQ-card-A{
    font-size:  20px; 
    width: 80%;
    margin: 10px 60px 35px 30px;
}
.FAQ-table{
    border: 1px solid;
    border-collapse: collapse;
}
.FAQ-table tr, .FAQ-table th,.FAQ-table td{
    border: 1px solid;
    border-collapse: collapse;
}

.FAQ-map{
    width: 400px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
.FAQ-table{
    text-align: center;
}
@media (min-width:500px) and (max-width:1070px) {
    .FAQ-card-A{
        font-size: 18px;
    }
    .FAQ-card-Q{
        font-size: 22px;
    }
    .FAQ-card{
        padding:  0.5em 6px;
        padding-left: 2px;
}
}
@media screen and (max-width:500px) {
    .FAQ-card-A{
        font-size: 16px;
    }
    .FAQ-card-Q{
        font-size: 19px;
    }
    .FAQ-card{
        padding:  5px 2.5px;
    }
    .FAQ-table{
        font-size: 14px;
    }
}


/*以下英語ページ用css*/
.FAQEn-table{
    border: 1px solid;
    border-collapse: collapse;
}
.FAQEn-table tr, .FAQEn-table th,.FAQEn-table td{
    border: 1px solid;
    border-collapse: collapse;
}
.FAQEn-table{
    text-align: center;
}
.FAQEn-card-Q{
    font-size: 25px;
    margin: 10px 5px;
    
        padding: 20px;
        margin: 3%;
        font-weight: bold;
        color: #6091d3;
        background: #FFF;
        border: solid 3px #6091d3;
        border-radius: 10px;
        width:90%;
        box-sizing: border-box;
        
}
.FAQEn-card{
    padding:20px 50px 20px 5px;
}
.FAQEn-card-A{
    font-size:  20px; 
    width: 80%;
    margin: 10px 60px 35px 30px;
}
@media (min-width:500px) and (max-width:1070px) {
    .FAQEn-card-A{
        font-size: 18px;
    }
    .FAQEn-card-Q{
        font-size: 22px;
    }
    .FAQEn-card{
        padding:  0.5em 6px;
        padding-left: 2px;
}
}
@media screen and (max-width:500px) {
    .FAQEn-card-A{
        font-size: 16px;
    }
    .FAQEn-card-Q{
        font-size: 19px;
    }
    .FAQEn-card{
        padding:  5px 2.5px;
    }
    .FAQEn-table{
        font-size: 12px;
    }
}