footer{
    position: relative;
    margin-top: auto;
    height: auto;
    width: 100%;
    background-color: #2E3192;/* 各変数はApp.css を参照　もちろん普通にカラーコード書いてもOK*/
    z-index: 5000;
}
.logo{
    text-align: center;
}
.machikane_logo{
    height: 130px;
    margin: 5px;
}
.sns{
    display: flex;
    justify-content: center;
}
.snsLink{
    text-decoration: none;
}
.X{
    display: block;
    color: white;
    text-align: center;
    background-color: black;
    font-size: 1.8rem;
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 5px;
    margin-top: 6px;
}
.X span{
    position: relative;
    bottom: 12px;
}
.insta{
    width: 3rem;
}
.external-site{
    text-align: center;
    color:#fff;
}
.external-site a{
    color:#fff;
}
.external-site a:hover{
    color:#f1d18c;
}
.tyuujitu{
    text-align: center;
    color:#fff;
}