body{
  font-family: "fot-tsukuardgothic-std", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin:0;
}
.top-main{
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 0px;
}

:root{
  --base-height: 2300px;
}

/*======================
大きな枠組みの部分
======================*/
#loader{
  width: 100%;
  height: 120vh;
  background-image:url("../imgs/logo.png"),url("../imgs/mainview/cloud_pc.png"),linear-gradient(#fff 10%, #00B2E9 50%,#b5e5f4 90%);
  background-repeat: no-repeat, no-repeat;
  background-size:30%,100% auto,100% auto;
  background-position: center 42%,center;
}

.sky2{
    color: #233192;
    width:100%;
    background: linear-gradient( #b5e5f4 50%, #fff 100%)
}

.mainpage1{
  width: 92%;
  padding-top:60px;
  padding-bottom: 80px;
  margin:0 auto;
}
.ocean{
    width:100%;
    background-image: url("../imgs/inthesea/surface1.png"), linear-gradient( #fff 0%, #01579E 6%, #2E3192 100%);
    background-repeat: no-repeat, no-repeat;
    background-size: contain;
    color:#fff;
}
.mainpage2{
  width: 92%;
  margin:0 auto;
  padding-top: 100px;
  }
.schedule,.stage,.lab,#pickup,.about{
  box-sizing: border-box;
}

.machikani1{
  /*margin: 0px -22px -71px;*/
  width: 150px;
  rotate: -6deg;
  position: relative;
  bottom:-95px;
  right: -10%;
}
.machikani1 img{
  width: 100%;
}
/*.ocean2{
  width:100%;
  height:500px;
  background: #2E3192 100%;
}*/


/*pickup-bubble*/

.bottom{
  bottom:0px;
  width:100%;
  height:300px;
}


/*======================
一個小さい枠組の設定
======================*/

/*======================
loader 雲のアニメション
亀がサイズによって変わるから変えたいところ
======================*/
#move img.loaded:nth-child(1){
  animation: cloud1 3s forwards;
}
#move img.loaded:nth-child(2){
  animation: cloud2 3s forwards;
}

#move img:nth-child(1){
  position: relative;
  display: block;
  width: 150%;
  /*height: 100vh;*/
  bottom:60vw;
  left:-25vw;
  margin: auto;
}
#move img:nth-child(2){
  position: relative;
  display: block;
  width: 150%;
  /*height: 100vh;*/
  bottom:120vw;
  right:18vw;
  margin: auto;
}

@keyframes cloud1{
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-160vw);
  }
}
@keyframes cloud2{
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(170vw);
  }
}
/*======================
loader 特にメインビューの雲の配置、アニメーション
======================*/
/*

/*
/*ほんまにいらん方
いるかわからんかった　nth-child(1)と同じ
.main_cloud img{
  width:100%;
  height:auto;
}


*/
/*======================
sky2 お知らせ欄(news)、来場者の方へ(notes)内部
竹内くん的に背景が透明が良いそうだったので、半透明にしてます
位置は要調節
文章どうしたらいいかわからんからとりあえず準備中にしてます
======================*/

.news,.notes{
  font-size: 1.7rem;
  margin: 20px auto 80px;
  display:block;
  background-color: rgba(255,255,255,0.38);
  border-radius: 50px;
  text-align: center;
  box-sizing: border-box;
  width: 80%;
}
.news-date, .news-content{
  text-align: left;
  vertical-align: top;
  padding: 10px 25px;
}
/*空の小見出しのスタイル*/
.sky2 span{
  max-width: 90%;
  display: inline-block;
  font-size: 37px;
  padding-top: 8px;
}

/*======================
oceanの中　企画時間、ステタイ、研究室紹介
schedule,stage,lab
枠のサイズがわかりやすいように線で囲ってます
実際は枠線なしやったはず
ちっちゃめのイラストか、マーク入れた方が統一感でそう
======================*/

.schedule,.stage,.lab,.about{
  font-size:1.7rem;
  margin: 10px auto 180px;
  display:block;
  text-align: center;
  /*border: solid 1px #fff;
  border-radius: 50px;*/
}
.section-schedule{
  font-size: 2rem;
  margin: 0px auto 80px;
}
.section, .section-time{
  text-align: left;
  vertical-align: top;
  padding: 10px 25px;
}
.subtitle{
  display: flex;
  justify-content: center;
}
.mark{
  width:40px;
}
.mark img{
  width:100% ;
}
.pre-ocean, .pre-sky{
  padding: 20px 10px 30px;
  text-align: center;/*タイトル中央ぞろえにするならいらん*/
  width:80%;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 2.2rem;
}
.content{
  padding: 20px 10px 30px;
}
/*海の中の小見出しのスタイル*/
.ocean span{
  display: inline-block;
  font-size: 37px;
  color: #fff;
  position: relative;
  right: 30px;
  /*background-color:rgba(255,255,255,0.20);
  border:solid 1px #fff;
  padding:2px 12px;
  border-radius: 14px;*/
}
.item1{
  display: inline-block;
  font-size: 120px;
  opacity: 0.30;
  position: relative;
  top:9px;
  left:10px;
  margin: 50px 0px 50px 0px;
}
.item2{
  display: inline-block;
  font-size: 42px;
  opacity: 0.30;
  position: relative;
  top:9px;
  right:30px
}
.item3{
  display: inline-block;
  font-size: 20px;
  opacity: 0.30;
  position: relative;
  top:9px;
  right:30px;
}

#pickup{
  font-size: 22px;
  text-align: center;
  margin: 0 auto 180px;
}

/*pickupの文字の色を変化させる*/
.ocean a{
  color: #fff;
}

.titles{
  position: relative;
  left: 10px;
}

#title{
  font-size: 3.1rem;
}
.pickup-box{
  margin-top: 40px;
  display: inline-block;
  width: calc((100% - 60px) / 1.5);
  position: relative;
  right: 15px;
}
.pickup-button{
  color:#fff;
  position: relative;
  display: inline-flex;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 40px;
  margin-left: 40px;
  border-radius: 20px;
  padding: 15px 20px 0;
}
.pickup-title{
  font-size: 2.25rem;
  margin-left: 20px;
  position: relative;
  bottom: 15px;
}
.pickup-button:hover{
  color:#233192;
  background-color: rgba(255,255,255,0.38);
  border-bottom: solid 1px #fff;
}
.pickup-icon img{
  width: 60px;
}

/*======================
かめのアニメション
======================*/
.machikame1{
  width: 10vw;
  position: relative;
  bottom: -30vh;
  left:7%;
}
.machikame1 img{
  width: 100%;
  animation:flying 10s ease-in-out infinite;
}
@keyframes flying {
  0% {
    transform: translate(0,0);
  }
  25% {
    transform: translate(30px,15px);
  }
  50% {
    transform: translate(0,0);
  }
  75% {
    transform: translate(-30px,15px);
  }
  100% {
    transform: translate(0,0);
  }
}

.machikame2{
  width: 78px;
  position: relative;
  bottom: -300px;
  left:26px;
}
.machikame2 img{
  width: 100%;
  animation: swimming 10s ease-in-out infinite;
}
@keyframes swimming {
  0% {
    transform: translate(0,0);
  }
  25% {
    transform: translate(30px,15px);
  }
  50% {
    transform: translate(0,0);
  }
  75% {
    transform: translate(-30px,15px);
  }
  100% {
    transform: translate(0,0);
  }
}

/*======================
海底の生成される泡の表示のためのもの
======================*/
.bubble {
    position: absolute;
    bottom: 0;
    background-color: #fff;
    opacity: 60%;
    border: 1px solid #fff;
    border-radius: 50%;
    animation: bubble 10s linear infinite;
  }
  .bubble1 {
    position: absolute;
    bottom: 0;
    background-color: #fff;
    opacity: 60%;
    border: 1px solid #fff;
    border-radius: 50%;
    animation: bubble1 10s linear infinite;
    animation-delay:5s;
  }

.bubble:nth-child(1) {
    width: 8px;
    height: 8px;
    left: -10%;
    animation-duration: 14s;
  }
  
  .bubble1:nth-child(1) {
    width: 7px;
    height: 7px;
    left: 0%;
    animation-duration: 17s;
  }
  
  .bubble:nth-child(2) {
    width: 10px;
    height: 10px;
    left: 10%;
    animation-duration: 13s;
  }
  
  .bubble1:nth-child(2) {
    width: 15px;
    height: 15px;
    left: 20%;
    animation-duration: 18s;
  }
  
  .bubble:nth-child(3) {
    width: 8px;
    height: 8px;
    left: 30%;
    animation-duration: 13s;
  }
  
  .bubble1:nth-child(3) {
    width: 12px;
    height: 12px;
    left: 35%;
    animation-duration: 15.5s;
  }
  
  .bubble:nth-child(4) {
    width: 17px;
    height: 17px;
    left: 42%;
    animation-duration: 11s;
  }
  .bubble1:nth-child(4) {
    width: 10px;
    height: 10px;
    left: 50%;
    animation-duration: 11.5s;
  }
  .bubble:nth-child(5) {
    width: 13px;
    height: 13px;
    left: 60%;
    animation-duration:14s;
  }
  .bubble1:nth-child(5) {
    width: 12px;
    height: 12px;
    left: 70%;
    animation-duration:12s;
  }
  .bubble:nth-child(6) {
    width: 14px;
    height: 14px;
    left: 78%;
    animation-duration:17s;
  }
  .bubble1:nth-child(6) {
    width: 9.5px;
    height: 9.5px;
    left: 85%;
    animation-duration:11s;
  }
  .bubble:nth-child(7) {
    width: 13px;
    height: 13px;
    left: 92%;
    animation-duration:12.5s;
  }
  .bubble1:nth-child(7) {
    width: 10px;
    height: 10px;
    left: 98%;
    animation-duration:10s;
  }
  
  @keyframes bubble {
    0% {
      bottom: -15px;
      transform: translateX(0);
    }
    50% {
      transform: translateX(100px);
    }
    100% {
      bottom: var(--base-height);
    }
  }
  @keyframes bubble1 {
    0% {
      bottom: -15px;
      transform: translateX(0);
    }
    50% {
      transform: translateX(-100px);
    }
    100% {
      bottom: var(--base-height);
    }
  }
  /**/
  .pre-sky,.pre-ocean{
    transition: 0.8s ease-in-out;
    transform: translateY(15px);
    opacity: 1.0;
  }
  .pre-sky.on,.pre-ocean .on {
    transform: translateY(0);
    opacity: 0;
  }

/*======================
  スマホ用
======================*/
  @media  (max-width: 490px){
    /*title修正*/
    .item1{
      margin: 20px 0px 20px 0px
    }
    .titles{
      position: relative;
      left: 10px;
    }
    .news, .notes{
      box-sizing: content-box;
      width: 90%;
      font-size: 16px;
    }
    .news-date, .news-content{
      padding: 7px 5px;
    }
    .section-schedule{
      font-size: 1rem;
    }
    #loader{
      width: 100%;
      height: 120vh;
      background-image:url("../imgs/logo.png"),url("../imgs/mainview/cloud_phone.png"),linear-gradient(#fff 10%, #00B2E9 60%,#b5e5f4 100%);
      background-repeat: no-repeat, no-repeat;
      background-size:60% auto,100% auto,100% auto;
    }
    .ocean{
      display: block;
    }
    .pre-ocean, .pre-sky{
      font-size: 1rem;
    }
    .machikani1{
      /*margin: 0px -22px -71px;*/
      width: 85px;
      rotate: -6deg;
      position: relative;
      bottom:-60px;
      right: 0px;
    }
    /*------------------------
    イラストの位置調整
    ------------------------*/
    .machikame1{
      width: 20%;
      left: 71%;
      bottom: -20vh;
    }
    #move img:nth-child(1){
      width:100%;
    }
    .schedule, .stage, .lab, #pickup, .about {
      box-sizing: content-box;
      font-size: 16px;
    }
    .item1{
      display: inline-block;
      font-size: 93px;
      opacity: 0.30;
      position: relative;
      top:9px;
      left:10px;
      margin: 50px 0px 50px 0px;
    }
    .item2{
      display: inline-block;
      font-size: 28px;
      opacity: 0.30;
      position: relative;
      top:9px;
      right:30px
    }
    .item3{
      display: inline-block;
      font-size: 15px;
      opacity: 0.30;
      position: relative;
      top:9px;
      right:30px;
    }
    #move img:nth-child(1){
      display: block;
      position: relative;
      width: auto;
      height: 100vh;
      bottom:60px;
      left:-30px;
      margin: auto;
    }
    #move img:nth-child(2){
      display: block;
      position: relative;
      width: 160%;
      height: 105vh;
      bottom:58rem;
      right:100px;
      margin: auto;
    }
    @keyframes cloud1{
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-127vh);
      }
    }
    @keyframes cloud2{
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(92vh);
      }
    }
  /*pickup*/
  .pickup-box{
    display: inline-block;
    width: 100%;
    right: 15px;
    bottom: 60px;
  }
  #title{
    font-size: 1.6rem;
  }
  .pickup-button{
    padding: 5px 10px 0;
    margin-bottom: 40px;
    margin-left: 35px;
  }
  .pickup-title{
    font-size: 1rem;
    margin-left: 5px;
    bottom: 8px;
  }
  .pickup-icon img{
    width: 30px;
  }
/*pickup-bubble*/
  .search{
    display: inline-block;
    width: calc((100% - 50px)/2);
    box-sizing: border-box;
  }
  .search:nth-child(3), .search:nth-child(4){
    margin-left: 20px;
  }
  .search:nth-child(4), .search:nth-child(5), .search:nth-child(6){
    margin-left: inherit;
  }
}

/*======================
  タブレット用
======================*/
@media (min-width: 490px) and (max-width: 990px){
  #loader{
    width: 100%;
    height: 120vh;
    background-image:url("../imgs/logo.png"),url("../imgs/mainview/cloud_ipad.png"),linear-gradient(#fff 10%, #00B2E9 60%,#b5e5f4 100%);
    background-repeat: no-repeat, no-repeat;
    background-size: 40% auto,100% auto,100%;
    background-position:center,center;
  }
  .titles{
    position: relative;
    left: 20px;
  }
  .machikame1{
    width:14vw;
  }
  .news, .notes{
    box-sizing: content-box;
    width: 80%;
    font-size: 1.4rem;
  }
  .news-date, .news-content{
    padding: 10px 25px;
  }
  .pre-sky,.pre-ocean{
    font-size: 1.6rem;
  }
  .ocean{
    display: block;
  }
  
  .section-schedule {
    font-size: 1.8rem;
    margin: 0px auto 80px;
  }
  .schedule, .lab, #pickup, .about {
    box-sizing: content-box;
    width: 100%;
    font-size:1.4rem;
  }
  .stage{
    box-sizing: content-box;
    font-size:1.4rem;
  }
  .machikani1{
    /*margin: 0px -22px -71px;*/
    width: 110px;
    rotate: -6deg;
    position: relative;
    bottom:-95px;
    right: -10%;
  }
  .pickup-box{
    display: inline-block;
    width: calc((100% - 30px) / 1.3);
    right: 0px;
    bottom: 60px;
  }
  #title{
    font-size: 2.4rem;
    position:relative;
  }
  .item1{
    display: inline-block;
    font-size: 100px;
    opacity: 0.30;
    position: relative;
    top:9px;
    left:0px;
    margin: 50px 0px 50px 0px;
  }
  .item2{
    display: inline-block;
    font-size: 34px;
    opacity: 0.30;
    position: relative;
    top:9px;
    right:40px
  }
  .item3{
    display: inline-block;
    font-size: 21px;
    opacity: 0.30;
    position: relative;
    top:9px;
    right:40px;
  }
 
  .pickup-button{
    padding: 10px 20px 0;
    margin-bottom: 60px;
    margin-left: 25px;
  }
  .pickup-title{
    margin-left: 10px;
    bottom: 15px;
    font-size: 1.7rem;
  }
  .pickup-icon img{
    width: 60px;
  }
}

@media (min-width: 600px) and (max-width: 990px){
  #move img:nth-child(1){
    position: relative;
    display: block;
    width: 150%;
    /*height: 100vh;*/
    bottom:24vw;
    left:-25vw;
    margin: auto;
  }
  #move img:nth-child(2){
    position: relative;
    display: block;
    width: 150%;
    /*height: 100vh;*/
    bottom:75vw;
    right:18vw;
    margin: auto;
  }
  #loader{
    width: 100%;
    height: 180vh;
    background-image:url("../imgs/logo.png"),url("../imgs/mainview/cloud_ipad.png"),linear-gradient(#fff 26%, #00B2E9 60%,#b5e5f4 100%);
    background-repeat: no-repeat, no-repeat;
    background-size: 40% auto,100% auto,100%;
    background-position:center,center;
    margin-top:-35vh;
  }
  .machikame1{
    width: 14vw;
    position: relative;
    bottom: -50vh;
    left:12%;
  }
}
@media (min-width: 490px) and (max-width: 680px){
  #title{
    font-size: 2.2rem;
  }
  .pickup-box{
    width: calc((100% - 30px) / 1.1);
    right: 10px;
    bottom: 60px;
  }
  .pickup-button{
    padding: 10px 20px 0;
    margin-bottom: 45px;
    margin-left: 25px;
  }
  .pickup-title{
    margin-left: 8px;
    bottom: 12px;
    font-size: 1.3rem;
  }
  .pickup-icon img{
    width: 45px;
  }
}
@media screen and (max-width: 550px){
  #stage-title span{
    font-size: 2rem;
  }
  #stage-title .item1{
    font-size: 90px;
    margin-right:-12px ;
    margin-left: 4px;
  }
  #stage-title .item2{
    font-size: 27px;
  }
  #stage-title .item3{
    font-size: 12px;
  } 
}
@media screen and (max-width:420px){
  #stage-title span{
    font-size: 1.4rem;
  }
  #stage-title .item1{
    font-size: 90px;
    margin-right:-10px ;
    margin-left: -10px;
  }
  #stage-title .item2{
    font-size: 27px;
  }
  #stage-title .item3{
    font-size: 12px;
  }
}