body{
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin:0;
  }
  .map-content{
    font-size: 2rem;
  }
  .map-miniTitles{
    padding-left: 2rem;
    font-size: 1.5rem;
    background-color: rgba(255,255,255,0.85);
    width: 16rem;
    border-radius: 0 50px 50px 0px;
    margin-bottom: 15px;
    color: black;
}
.map-titleShort{
  width: 11rem;
}
.map-titleLong{
  width: 25rem;
}
  .map-sky{
      color: #233192;
      width:100%;
      background: linear-gradient( #15c1f6 0%,#b5e5f4 95%, #fff 100%);
      padding-bottom: 20rem;
  }
  .map-mainpage{
    width: 90%;
    padding-bottom: 80px;
    margin:0 auto 0;
  }
  .map-notes{
    font-size: 22px;
    margin: 60px auto 30px;
    display:block;
    background-color: rgba(255,255,255,0.38);
    border-radius: 50px;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
  }
.map-content{
    font-size: 1.6rem;
    margin: 2rem auto 80px;
    display:block;
    background-color: rgba(255,255,255,0.58);
    border-radius: 50px;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    padding: 25px;
  }
  /* 全体マップ */
  .map-map{
    width:700px;
    max-width: 100%;
    border-style: none;
    margin: 0 auto 0;
  }
  .map-map img{
    width: 100%;
    margin:50px 0px 0px;
  }
  /* 生協営業時間 */
  .map-time{
    font-size: 15pt;
    margin: 0 auto 0;
    display: inline-block;
    margin: 0 auto 0;
  }
  .map-tables {
    border-collapse: collapse;
    text-align: center;
    font-size: 20px;
    margin: 0 auto 0;
  }
  .map-tables th, .map-tables td {
    border: solid  1px #adb3c1;
    padding: 10px;
  }
  .map-tables td {
    border: solid  1px #adb3c1;
    padding:1px 8px;
    text-align: center;
    position: relative;
    vertical-align: middle;
  }
  .map-ul{
    list-style-type: none;
  }
  .map-item p{
    font-size: 1.6rem;
  }
  .map-tables{
    font-size: 1.4rem;
  }
  .map-tableName{
    width: 280px;
  }
  .map-ul, .map-stage p{
    font-size: 1.8rem;
  }

  /* AB棟マップ */
  .map-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .map-AB{
    font-size: 18pt;
    width:425px;
    max-width: 100%;
    border-style: none;
    box-sizing: border-box;
  }
  .map-AB img{
    width: 100%;
    margin:50px 0px 0px;
  }
/* C棟 */
  .map-C{
    font-size: 18pt;
    width:425px;
    max-width: 100%;
    border-style: none;
    box-sizing: border-box;
  }
  .map-C img{
    width: 80%;
    margin:50px 0px 0px;
  }
/* 法経 */
  .map-H{
    font-size: 18pt;
    width:425px;
    max-width: 100%;
    border-style: none;
    box-sizing: border-box;
  }
  .map-H img{
    width: 70%;
    margin:50px 0px 0px;
  }
 /* 文法経 */
  .map-B{
    font-size: 18pt;
    width:425px;
    max-width: 100%;
    border-style: none;
    box-sizing: border-box;
  }
  .map-B img{
    width: 55%;
    margin:50px 0px 0px;
  }
/* 学生会館 */
  .map-G{
    font-size: 18pt;
    width:425px;
    max-width: 100%;
    border-style: none;
    box-sizing: border-box;
  }
  .map-G img{
    width: 80%;
    margin:50px 0px 0px;
  }
  /* 屋外メインストリート */
  .map-M{
    font-size: 18pt;
    width:550px;
    max-width: 100%;
    border-style: none;
    box-sizing: border-box;
    margin: 0 auto 0;
  }
  .map-M img{
    width: 100%;
    margin:50px 0px 0px;
  }
  /* ステージ */
  .map-stage{
    font-size: 18pt;
    width:800px;
    max-width: 100%;
    border-style: none;
    box-sizing: border-box;
  }
  .map-stage img{
    width: 100%;
    margin:50px 0px 0px;
  }

  /*======================
    スマホ用
  ======================*/

  @media (max-width:500px){
  /* 生協営業時間 */
  .map-time{
    font-size: 15pt;
    margin: 0 auto 0;
    display: inline-block;
  }
  .map-tables {
    border-collapse: collapse;
    text-align: center;
    font-size: 20px;
    margin: 0 auto 0;
  }
  .map-tables th, map-tables td {
    border: solid  1px #adb3c1;
    padding: 10px;
  }
  .map-tables td {
    border: solid  1px #adb3c1;
    padding:1px 8px;
    text-align: center;
    position: relative;
    vertical-align: middle;
  }
  /* 全体マップ */
  .map-map{
    width:5000px;
    max-width: 100%;
    border-style: none;
  }
  .map-map img{
    width: 100%;
    margin:50px 0px 0px;
  }
  .map-time{
    font-size: 3pt;
  }
  .map-tables {
    border-collapse: collapse;
    text-align: center;
    position: relative;
    font-size: 15px;
  }
  .map-tables th, .tables td {
    border: solid  1px #adb3c1;
    padding: 10px;
  }
  .map-tables td {
    border: solid  1px #adb3c1;
    padding:1px 8px;
    text-align: center;
    position: relative;
    vertical-align: middle;
  }
  .map-miniTitles{
    padding-left: 2rem;
    font-size: 1rem;
    width: 12rem;
    margin-bottom: 15px;
}
.map-titleShort{
  width: 8rem;
}
.map-titleLong{
  width: 18rem;
}
}
/*======================
    タブレット用
  ======================*/
  @media (min-width:500px) and (max-width: 1070px){
    .map-notes{
      box-sizing: contents-box;
      width: 80%;
      font-size: 19px;
      text-decoration: none;
    }
    .map-item p{
      font-size: 1.2rem;
    }
    .map-tables{
      font-size: 1rem;
    }
    .map-tableName{
      width: 210px;
    }
    .map-ul, .map-stage p{
      font-size: 1.4rem;
    }
    .map-miniTitles{
      padding-left: 1.5rem;
      font-size: 1.5rem;
      width: 16rem;
      margin-bottom: 15px;
  }
  .map-titleShort{
    width: 11rem;
  }
  .map-titleLong{
    width: 25rem;
  }
  }

  /* テーブルの調整 */
  @media (min-width:620px) and (max-width: 800px){
    .map-item p{
      font-size: 1.2rem;
    }
    .map-tables{
      font-size: 0.9rem;
    }
    .map-tableName{
      width: 210px;
    }
    .map-ul, .map-stage p{
      font-size: 1.4rem;
    }
  }
  @media (min-width:550px) and (max-width: 620px){
    .map-item p{
      font-size: 1.2rem;
    }
    .map-tables{
      font-size: 0.7rem;
    }
    .map-ul, .map-stage p{
      font-size: 1.4rem;
    }
  }
  @media (min-width:380px) and (max-width: 550px){
    .map-item p{
      font-size: 1.2rem;
    }
    .map-tables{
      font-size: 0.6rem;
    }
    .map-ul, .map-stage p{
      font-size: 1.4rem;
    }
  }
  @media (max-width:380px){
    .map-item p{
      font-size: 1.2rem;
    }
    .map-tables{
      font-size: 0.6rem;
    }
    .map-ul, .map-stage p{
      font-size: 1.4rem;
    }
    .map-miniTitles{
      padding-left: 2rem;
      font-size: 0.8rem;
      width: 9rem;
      margin-bottom: 15px;
  }
  .map-titleShort{
    width: 6rem;
  }
  .map-titleLong{
    width: 14rem;
  }
  }