.pageTitle{
    margin-top: 3em;
}
.offiProCard {
    display: flexbox;
    width: 46vw;
    position: relative;
    margin: 3em 1vw 1em 1vw;
    background: #fff6e6;
    box-shadow: 0 2px 3px rgba(0,0,0,.22);
    padding: 22px 8px 22px 8px;
    background-color: #fff6e6;
    background-image:
    linear-gradient(90deg, rgba(237, 119, 128, 0) 0%, rgba(237, 119, 128, 0) 50%, #fff6e6 0%, #fff6e6 100%), linear-gradient(180deg, rgba(237, 119, 128, 0) 0%, rgba(237, 119, 128, 0) 95%, #ed7780 100%);
    background-size: 8px 100%,100% 2em;
    line-height: 2;
    color: #ee8992;
    font-weight: bold;
  }
  .offiProCard-title {
    background: #fff6e6;
    font-size: 1.2em;
    padding: 7px 0 0 16px;
    margin: -16px -8px 16px -8px;
    color: #ee8992;
    font-weight:bold;
  }
  .offiProCard:after {
    position: absolute;
    content: "";
    top: 25px;
    width: 30%;
    height: 35px;
    opacity: 0.3;
    margin: -35px auto 10px 35%;
    background: #db7093;
    transform: rotate(-2deg);
    left: 10px;
    right: 10px;
  }
  .offiProCard p {
    margin: 0;
    padding: 0;
  }
  .officialProAll{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    color: #233192;
    width:100%;
    background: linear-gradient( #b5e5f4 50%, #fff 100%)
  }
  .inforAll{
    display: flex;
  }
  .information{
    margin-left: 2vw;
  }
  .officialIcon{
    width: 15vw;
  }
  .officialProDeatil{
    width:100%;
    background-image: url("../imgs/inthesea/surface1.png"), linear-gradient( #fff 0%, #01579E 6%, #2E3192 100%);
    background-repeat: no-repeat, no-repeat;
    background-size: contain;
    color:#fff;
  }
  .detailCard{
    width: 92%;
    margin:0 auto;
    padding-top: 100px;
  }

  /*パンケーキの☆の部分*/
.rate {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 16px;
    font-size: 16px;
}
.rate:before, .rate:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    display: inline-block;
    height: 16px;
    line-height: 16px;
}
.rate:before {
    color: #ddd;
}
.rate:after {
    color: #ffa500;
    overflow: hidden;
    white-space: nowrap;
}
.rate4-5:after {
    width: 72px;
}
.wrap {
    width: 80px;
    margin: 0 auto;
}


@media screen and (max-width:490px){
  .officialProAll{
    align-items: center;
  }

  .offiProCard{
    width: 75vw;
  }
  .inforAll{
    display: block;
  }
  .officialIcon{
    width:87%;
    height: auto;
    margin: 0 1em;
  }
}

@media screen and (min-width:490px) and (max-width: 1090px){

}