.pickup-keyword-container{
    display: flex;
}
.pickup-keyword{
    border: 1px solid black;
    cursor: pointer;
    margin: 3px;
    height: 30px;
    width: 80px;
    text-align: center;
}

/* ページ構成 */
.sky-project{
    color: #233192;
    width:100%;
    background: linear-gradient( #15c1f6 0%,#b5e5f4 40%, #fff 100%)
}
.serch-header{
    padding-top: 200px;
}

/* カード */
.project-container{
    border: 1px solid black;
    margin: 10px;
    width: 48%;
    display: inline-flex;
}
.project-card-icon{
    width: auto;
    height: auto;
    max-width: 150px;
    max-height: 150px;
    margin: 5px;
}
.card-content{
    margin-left: 5px;
    width: calc(100% - 150px);
}
.toDetailParent{
    display: flex;
    justify-content: flex-end;
}
.toDetail{
    background-color: #6096D9;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 0 3px;
    text-decoration: none;
    margin-bottom: 5px;
    margin-right: 5px;
}

/* タグ設定 */
.card-tags{
    display: inline-flex;
    margin-bottom: 5px;
}
.card-tags div{
    margin-right: 5px;
    border-radius: 5px;
    padding: 0 5px;
}
.card-tags div:nth-child(1){
    background-color: #7BCDBA;
    color: #FFFFFF;
}
.card-tags div:nth-child(2){
    background-color: #B877C7;
    color: #FFFFFF;
}
.card-tags div:nth-child(3){
    background-color: rgb(248,183,0);
    color: #FFFFFF;
}
.card-tags div:nth-child(4){
    background-color: #FF6961;
    color: #FFFFFF;
}

/*色のテンプレート*/
.green{
    background-color: #7BCDBA;
    color: #FFFFFF;
}
.blue {
    background-color: #6096D9;
    color: #FFFFFF;
}
.yellow {
    background-color: #FFC947;
    color: #FFFFFF;
}
.red {
    background-color: #FF6961;
    color: #FFFFFF;
}
.purple {
    background-color: #B877C7;
    color: #FFFFFF;
}
.orange {
    background-color: rgb(248,183,0);
    color: #FFFFFF;
}

/*======================
  スマホ用
======================*/
@media  (max-width: 490px){}


/*======================
  タブレット用
======================*/
@media (min-width: 490px) and (max-width: 990px){}