.questionnaire-sky {
    color: #233192;
    width: 100%;
    background: linear-gradient( 
      #15c1f6 0%,
      #b5e5f4 99%, 
      #fff 100%);
    padding-bottom: 80px;
}
.questionnaire{
    margin: 0 20px;
}
.title{
    font-size: 1.5rem;
    padding: 5px 0px;
    text-align: center;
    margin: 80px auto 20px;
    display: block;
    background-color: rgba(255,255,255,0.78);
    border-radius: 50px;
    box-sizing: border-box;
    width: 80%;
}
.question{
    font-size: 1.2rem;
    padding: 20px 15px 40px;
    margin: 0 0 20px;
    display: block;
    background-color: rgba(255,255,255,0.58);
    border-radius: 50px;
    box-sizing: border-box;
    width: 100%;
}
.questionnaire textarea{
    height: 200px;
    width: 100%;
}
/*======================
  スマホ用
======================*/
@media  (max-width: 500px){
    .title{
        font-size: 0.8rem;
        border-radius: 20px;
        padding: 5px 5px;
        width: 90%;
        margin: 60px auto 20px;
    }
    .question{
        font-size: 0.7rem;
    }
    .questionnaire textarea{
        height: 100px;
        width: 100%;
    }
}
      
/*======================
    タブレット用
======================*/
@media (min-width: 500px) and (max-width: 1070px){
    .title{
        font-size: 1.2rem;
        border-radius: 20px;
        padding: 5px 5px;
    }
    .question{
        font-size: 1rem;
    }
    .questionnaire textarea{
        height: 100px;
        width: 100%;
    }
}