.sponsor-sky{
    width:100%;
    background: linear-gradient( #15c1f6 0%,#b5e5f4 80%, #fff 100%)
}
.sponsor-ocean{
    width:100%;
    background-image: url("../imgs/inthesea/surface1.png"), linear-gradient( #fff 0%, #01579E 15%, #2E3192 100%);
    background-repeat: no-repeat, no-repeat;
    background-size: 100%,contain;
    color:#fff;
}
.top-component-1{
    background-image:url("../imgs/circlecloud1.png"),url("../imgs/circlecloud2.png");
    background-size: 180px,calc(160px + 10vw);
    background-repeat: no-repeat,no-repeat;
    background-position: 72% 88px,right bottom;
    height: 400px;
    margin-bottom: 40px;
}
.page-titles{
    font-size: 2rem;
    padding: 10px 40px;
    background-color: rgba(255,255,255,0.75);
    border-radius: 0px 50px 50px 0px;
    position: relative;
    top: 168px;
    width: calc(var(--base-pageLength)*2.2);
}
.machikame-default{
    text-align: right;
}
.machikame-default img{
    width: 100px;
    position: relative;
    top: 20vh;
}
.cloud img{
    position: relative;
    bottom:113px;
    left:20px;
    rotate:15deg;
    width:220px;
}
/*======================
  top スマホ用
======================*/
@media  (max-width: 500px){
    .top-component-1{
        background-image:url("../imgs/circlecloud1.png"),url("../imgs/circlecloud2.png");
        background-size: 0,calc(180px + 3vw);
        background-repeat: no-repeat,no-repeat;
        background-position: 4vw 3vh,right bottom;
        height: 240px;
        margin-bottom: 20px;
    } 
    .page-titles{
        font-size: 1.4rem;
        padding: 5px 25px;
        border-radius: 0px 50px 50px 0px;
        top: 85px;
        width: calc(var(--base-pageLength)*1.5);
    }
    .machikame-default img{
        width: 20%;
        position: relative;
        top: 12vh;
    }
    .cloud img{
        width:140px;
        bottom:80px;
        left: 0px;
    }
    .cloud{
        height: 70px;
    }
}
    
    
/*======================
  top タブレット用
======================*/
@media (min-width: 500px) and (max-width: 1070px){
    .top-component-1{
        background-image:url("../imgs/circlecloud1.png"),url("../imgs/circlecloud2.png");
        background-size: 180px,calc(50px + 30vw);
        background-repeat: no-repeat,no-repeat;
        background-position: 70% 0vh,right bottom;
        height: 360px;
        margin-bottom: 30px;
    }
    .page-titles{
        font-size: 2rem;
        padding: 5px 30px;
        border-radius: 0px 50px 50px 0px;
        top: 145px;
        width: calc(var(--base-pageLength)*2.2);
    }
    .machikame-default img{
        width: 15%;
        position: relative;
        top: 10vh;
    }  
    .cloud{
        height: 120px;
    }
}


.thanks{
    background-color: rgba(255,255,255,0.58);
    border-radius: 50px;
    width: 92%;
    box-sizing: border-box;
    padding: 30px;
    margin: 0 auto;
    position:relative;
    bottom:5rem;
    text-align: center;
    font-size: 1.3rem;
}
.sponsor-imgs{
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 5rem;
}
.sponsor-miniTitles{
    padding-left: 2rem;
    font-size: 1.5rem;
    background-color: rgba(255,255,255,0.85);
    width: 20rem;
    border-radius: 0 50px 50px 0px;
    margin-bottom: 15px;
    color: black;
}
.sponsor-miniTitles-En1{
    padding-left: 2rem;
    font-size: 1.5rem;
    background-color: rgba(255,255,255,0.85);
    width: 35rem;
    border-radius: 0 50px 50px 0px;
    margin-bottom: 15px;
    color: black;
}
.sponsor-miniTitles-En2{
    padding-left: 2rem;
    font-size: 1.5rem;
    background-color: rgba(255,255,255,0.85);
    width: 33rem;
    border-radius: 0 50px 50px 0px;
    margin-bottom: 15px;
    color: black;
}
.sponsor-miniTitles-En3{
    padding-left: 2rem;
    font-size: 1.5rem;
    background-color: rgba(255,255,255,0.85);
    width: 36rem;
    border-radius: 0 50px 50px 0px;
    margin-bottom: 15px;
    color: black;
}
.companies{
    padding-bottom: 12rem;
}
.companies a{
    width: 50%;
}
.companies img{
    display: block;
    width: 60%;
    margin: 0 auto 20px;
}
.special{
    padding-top: 8rem;
}
.smartphone{
    display: none;
}

/*======================
  スマホ用
======================*/
@media  (max-width: 500px){
    .sponsor-imgs{
        margin-top: 3rem;
    }
    .sponsor-miniTitles{
        padding-left: 1rem;
        font-size: 1rem;
        width: 14rem;
    }
    .sponsor-miniTitles-En1{
        padding-left: 2rem;
        font-size: 1.2rem;
        background-color: rgba(255,255,255,0.85);
        width: 19rem;
        border-radius: 0 50px 50px 0px;
        margin-bottom: 15px;
        color: black;
    }
    .sponsor-miniTitles-En2{
        padding-left: 2rem;
        font-size: 1.2rem;
        background-color: rgba(255,255,255,0.85);
        width: 19rem;
        border-radius: 0 50px 50px 0px;
        margin-bottom: 15px;
        color: black;
    }
    .sponsor-miniTitles-En3{
        padding-left: 2rem;
        font-size: 1.2rem;
        background-color: rgba(255,255,255,0.85);
        width: 19rem;
        border-radius: 0 50px 50px 0px;
        margin-bottom: 15px;
        color: black;
    }
    .companies{
        padding-bottom: 5rem;
    }
    .companies a{
        width: 100%;
    }
    .companies img{
        width: 70%;
        margin: 0 auto 20px;
    }
    .smartphone{
        display: block;
    }
    .thanks{
        font-size:1rem;
        text-align: center;
        width:97%;
        bottom:3.3rem;
    }
}
      
/*======================
　タブレット用
======================*/
@media (min-width: 500px) and (max-width: 1070px){
    .sponsor-imgs{
        margin-top: 3rem;
    }
    .sponsor-miniTitles{
        padding-left: 1.2rem;
        font-size: 1.5rem;
        width: 20rem;
    }
    .companies{
        padding-bottom: 5rem;
    }
    .companies a{
        width: 50%;
    }
    .companies img{
        width: 80%;
        margin: 0 auto 20px;
    }
    .smartphone{
        display: none;
    }
    .thanks{
        bottom:4.4rem;
    }
}