.sponsor-sky{
    width:100%;
    background: linear-gradient( #15c1f6 0%,#b5e5f4 80%, #fff 100%)
}
.sponsor-ocean{
    width:100%;
    background-image: url("../imgs/inthesea/surface1.png"), linear-gradient( #fff 0%, #01579E 15%, #2E3192 100%);
    background-repeat: no-repeat, no-repeat;
    background-size: 100%,contain;
    color:#fff;
}

.sponsor-sky>p{
    font-size: 20px;
    margin-left: 20px;
}

.sponsor-imgs{
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 5rem;
}
.sponsor-miniTitles{
    padding-left: 2rem;
    font-size: 1.5rem;
    background-color: rgba(255,255,255,0.85);
    width: 15rem;
    border-radius: 0 50px 50px 0px;
    margin-bottom: 15px;
    color: black;
}
.sponsor-miniTitles-En1{
    padding-left: 2rem;
    font-size: 1.5rem;
    background-color: rgba(255,255,255,0.85);
    width: 35rem;
    border-radius: 0 50px 50px 0px;
    margin-bottom: 15px;
    color: black;
}
.sponsor-miniTitles-En2{
    padding-left: 2rem;
    font-size: 1.5rem;
    background-color: rgba(255,255,255,0.85);
    width: 33rem;
    border-radius: 0 50px 50px 0px;
    margin-bottom: 15px;
    color: black;
}
.sponsor-miniTitles-En3{
    padding-left: 2rem;
    font-size: 1.5rem;
    background-color: rgba(255,255,255,0.85);
    width: 36rem;
    border-radius: 0 50px 50px 0px;
    margin-bottom: 15px;
    color: black;
}
.companies{
    padding-bottom: 12rem;
}
.companies a{
    width: 50%;
}
.companies img{
    display: block;
    width: 60%;
    margin: 0 auto 20px;
}
.special{
    padding-top: 8rem;
}

/*======================
  スマホ用
======================*/
@media  (max-width: 500px){
    .sponsor-imgs{
        margin-top: 3rem;
    }
    .sponsor-miniTitles{
        padding-left: 1rem;
        font-size: 1rem;
        width: 6rem;
    }
    .companies{
        padding-bottom: 5rem;
    }
    .companies a{
        width: 100%;
    }
    .companies img{
        width: 70%;
        margin: 0 auto 20px;
    }
}
      
/*======================
　タブレット用
======================*/
@media (min-width: 500px) and (max-width: 1070px){
    .sponsor-imgs{
        margin-top: 3rem;
    }
    .sponsor-miniTitles{
        padding-left: 1.2rem;
        font-size: 1.5rem;
        width: 8rem;
    }
    .companies{
        padding-bottom: 5rem;
    }
    .companies a{
        width: 50%;
    }
    .companies img{
        width: 80%;
        margin: 0 auto 20px;
    }
}