.talent{
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 0px;
    z-index: 1000;
}
/* .talentBox{
    border: #233192 solid 3px;
    width: 75vw;
    margin: 0 auto;
} */
.talentTitle{
    font-size: 2em;
    line-height: 60px;
    position: relative;
    height: 60px;
    width: 60vw;
    height: 100%;
    margin: 0 auto 1em;
    padding: 0 2rem;
    text-align: center;
    color: #fff;
    background: #233192;
}
.talentTitle::before,
.talentTitle::after{
    position: absolute;
    top: 0;
    display: block;
    content: '';
    border: 30px solid #233192;
}
.talentTitle::before{
    left: -40px;
    border-left-width: 15px;
    border-left-color: transparent;
}
.talentTitle::after{
    right: -40px;
    border-right-width: 15px;
    border-right-color: transparent;
}
.talentTitle span{
    position: relative;
    display: block;
}

.aroundTitle{
    background-image: url("../imgs/mainview/cloud_pc.png");
}
.talentTop {
    /* width: 100%; */
    /* height: 150vw; */
    background-image:linear-gradient(#fff 10%, #00B2E9 50%,#b5e5f4 90%);
    background-repeat: no-repeat, no-repeat;
    background-position:center 42%,center;
}
.tombrown{
    position: relativeｓ;
    top: -20vh;
}
.tombrownImg{
    width: 50%;
    margin: 0 25vw;
}

.autographBlock{
    display: flex;
    position: relative;
    left: 60vw;
}
.autographBlock img{
    width: 5vw;
}
.autographBlock .machikani1{
    position: relative;
    left: 0vw;
    top: -1vw;
}
.autographBlock .machikani2{
    position: relative;
    left: 0;
    top: -1vw;
}

.autographBlock .autograph{
    display: flex;
    margin: 0;
}
.talentInfor{
    margin-left: 15vw;
    position: relative;
    top: -14vh;
    font-size: 2vw;
}

.caution{
    margin-left: 15vw;
    font-size: 2.5vw;
}

.cautionAll{
    margin-left: 15vw;
}
.caution li{
    font-size: 2vw;
}

@media  (max-width: 490px){
    .talentTitle{
        margin: 0em auto 1em;
        font-size: 3.5vw;
        padding: 0;
    }
    .tombrown{
        margin-top: 5vh;
    }
    .autographBlock{
        left: 40vw;
        top: -20vh;
        font-size: 4vw;
    }
    .talent .machikame1{
        position: relative;
        left: 70vw;
        top: 30vh;
    }
    .talentInfor{
        font-size: 3.5vw;
    }
    .caution{
        font-size: 5vw;
        position: relative;
        top: -13vh;
    }
    .cautionAll{
        margin-left: 2vw;
        position: relative;
        top: -13vh;
    }
}

@media (min-width: 490px) and (max-width: 990px){
    .talentTitle{
        margin: 0em auto 1em; 
        font-size: 3.25vw;
    }
    .tombrown{
        top: -13vh;
    }
    .autographBlock{
        top: -10vh;
    }
    .talent .machikame1{
        position: relative;
        left: 70vw;
        top: 40vh;
    }
    .caution{
        position: relative;
        top: -10vh;
    }
    .cautionAll{
        position: relative;
        top: -10vh;
    }
}

@media (min-width: 490px) and (max-width:1030px){
    .talentTitle{
        margin: 0em auto 1em;
    }
}