body{
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin:0;
  }
  .mmtheme-mainpage{
    width: 92%;
    padding-bottom: 80px;
    margin:0 auto;
    text-align: center;
  }
  .mmtheme-title{
    margin-bottom: 15px;
    padding: 20px;
    display: inline-block;
    font-size: 65px;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.38);
    border-radius: 50px;
    box-sizing: border-box;
  }
  .mmtheme-context{
    margin: 0px;
    padding: 10px 20px;
    display: inline-block;
    font-size: 22px;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.38);
    border-radius: 50px;
    box-sizing: border-box;
  }

    /*======================
    スマホ用
  ======================*/

  @media (max-width:767px){
    .mmtheme-title{
      width: 50%;
      font-size: 50px;
    }
    .mmtheme-context{
      width: 90%;
      font-size: 16px;
    }
  }
    /*======================
    タブレット用
  ======================*/
  @media (min-width:1090px) and (max-width: 1280px){
    .mmtheme-context{
      width: 90%;
      font-size: 19px;
      box-sizing: content-box;
    }
  }